/* user contact scroll styling */
.user-contact-scroll::-webkit-scrollbar{
    display: none;
  
}
.messenger{

    overflow: hidden;
}


.menu-scroll::-webkit-scrollbar{
    display: none;
}

/* actuve friend background when clicked on */
.current-friend{
    background-color: white
}

.current-friend-active{
    background-color: lightgrey;
}

