@media (min-width:640px) {
    .user-sidebar{
        display: flex;
    }
}

/* .user-sidebarDark{
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem ;
    padding-bottom: 1rem ;
    padding-left: 0.5rem /* 8px */;
   /* padding-right: 0.5rem /* 8px */;
  /*  border-radius: 0.75rem
    

} */