.FortHeader{
    background-image: url("../assets/HomeImages/homeImg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:initial;

}


@media (max-width: 1040px) {
    .appText{
        font-size: 3.4rem;
    }
    
}


@media (max-width: 910px) {
    .appText{
        flex-direction: row;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
    }
    .appInfo{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .imageHeaderContainer{
        display: flex;
    }
    .image2Container{
        position: inherit;
    }
    .image2Container img{
        width: 30rem;
        height: 17rem;
    }

    
}
